<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weafung.shop.dao.AccountTokenMapper">
  <resultMap id="BaseResultMap" type="com.weafung.shop.model.po.AccountToken">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="token" jdbcType="CHAR" property="token" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, is_deleted, token, account_id
  </sql>
  <insert id="insert">
    insert into account_token (token, account_id, type)
    values (#{token}, #{accountId}, #{type})
    on duplicate key update token = #{token}
  </insert>
  <select id="getAccountToken" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from account_token
    where token = #{token}
    limit 1
  </select>
</mapper>