<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weafung.shop.dao.AccountInfoMapper">
    <resultMap id="BaseResultMap" type="com.weafung.shop.model.po.AccountInfo">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="account_id" jdbcType="VARCHAR" property="accountId"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, gmt_create, gmt_modified, is_deleted, account_id, nickname, sex, avatar, state
    </sql>
    <select id="getAccount" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/>
      from account_info
      where account_id = #{accountId} and is_deleted = 0
      limit 1
    </select>

    <insert id="insertAccount" parameterType="com.weafung.shop.model.po.AccountInfo" >
        insert into account_info (account_id, nickname, sex, avatar, state)
        values (#{accountInfo.accountId}, #{accountInfo.nickname}, #{accountInfo.sex}, #{accountInfo.avatar}, #{accountInfo.state})
    </insert>
</mapper>