<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weafung.shop.dao.AddressMapper">
    <resultMap id="BaseResultMap" type="com.weafung.shop.model.po.Address">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="address_id" jdbcType="BIGINT" property="addressId"/>
        <result column="account_id" jdbcType="VARCHAR" property="accountId"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="district" jdbcType="VARCHAR" property="district"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, gmt_create, gmt_modified, is_deleted, address_id, account_id, province, city,
      district, detail, phone, name
    </sql>
    <select id="listByAccountId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from address
        where account_id = #{accountId} and is_deleted = 0
        order by id desc
    </select>
    <delete id="deleteByAccountIdAndAddressId">
      update address
      set is_deleted = 1
      where account_id = #{accountId} and address_id = #{addressId} and is_deleted = 0
      limit 1
    </delete>
    <insert id="insertSelective" parameterType="com.weafung.shop.model.po.Address">
        insert into address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            address_id,
            account_id,
            province,
            city,
            district,
            <if test="detail != null">
                detail,
            </if>
            phone,
            name,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{addressId,jdbcType=VARCHAR},
            #{accountId,jdbcType=VARCHAR},
            #{province,jdbcType=VARCHAR},
            #{city,jdbcType=VARCHAR},
            #{district,jdbcType=VARCHAR},
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            #{phone,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
        </trim>
    </insert>
    <update id="updateByAddressIdSelective" parameterType="map">
        update address
        <set>
            <if test="record.province != null">
                province = #{record.province,jdbcType=VARCHAR},
            </if>
            <if test="record.city != null">
                city = #{record.city,jdbcType=VARCHAR},
            </if>
            <if test="record.district != null">
                district = #{record.district,jdbcType=VARCHAR},
            </if>
            <if test="record.detail != null">
                detail = #{record.detail,jdbcType=VARCHAR},
            </if>
            <if test="record.phone != null">
                phone = #{record.phone,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
        </set>
        where address_id = #{addressId} and is_deleted = 0
        limit 1
    </update>
    <select id="getAddressByAddressId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from address
        where address_id = #{addressId} and is_deleted = 0
        limit 1
    </select>
</mapper>