<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weafung.shop.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.weafung.shop.model.po.Goods">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="first_category_id" jdbcType="BIGINT" property="firstCategoryId"/>
        <result column="second_category_id" jdbcType="BIGINT" property="secondCategoryId"/>
        <result column="third_category_id" jdbcType="BIGINT" property="thirdCategoryId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="limit_per_order" jdbcType="INTEGER" property="limitPerOrder"/>
        <result column="free_delivery" jdbcType="BIT" property="freeDelivery"/>
        <result column="hide" jdbcType="BIT" property="hide"/>

    </resultMap>
    <sql id="Base_Column_List">
      id, gmt_create, gmt_modified, is_deleted, goods_id, first_category_id, second_category_id,
      third_category_id, title, introduce, limit_per_order, free_delivery, hide
    </sql>

    <select id="listGoodsByCategoryId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods
        <where>
            is_deleted = 0
            <if test="firstCategoryId != null">
                and first_category_id = #{firstCategoryId}
            </if>
            <if test="secondCategoryId != null">
                and second_category_id = #{secondCategoryId}
            </if>
            <if test="thirdCategoryId != null">
                and third_category_id = #{thirdCategoryId}
            </if>
        </where>
    </select>

    <select id="getGoodsByGoodsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods
        where is_deleted = 0 and goods_id = #{goodsId}
    </select>

    <update id="updateSelective" parameterType="com.weafung.shop.model.po.Goods">
        update goods
        <set>
            <if test="goods.firstCategoryId != null">
                first_category_id = #{goods.firstCategoryId,jdbcType=BIGINT},
            </if>
            <if test="goods.secondCategoryId != null">
                second_category_id = #{goods.secondCategoryId,jdbcType=BIGINT},
            </if>
            <if test="goods.thirdCategoryId != null">
                third_category_id = #{goods.thirdCategoryId,jdbcType=BIGINT},
            </if>
            <if test="goods.title != null">
                title = #{goods.title,jdbcType=VARCHAR},
            </if>
            <if test="goods.introduce != null">
                introduce = #{goods.introduce,jdbcType=VARCHAR},
            </if>
            <if test="goods.limitPerOrder != null">
                limit_per_order = #{goods.limitPerOrder,jdbcType=INTEGER},
            </if>
            <if test="goods.freeDelivery != null">
                free_delivery = #{goods.freeDelivery,jdbcType=BIT},
            </if>
        </set>
        where goods_id = #{goods.goodsId}
        limit 1
    </update>

    <select id="getGoodsBySkuId" resultMap="BaseResultMap">
        select g.*
        from goods as g, sku as s
        where s.is_deleted = 0 and s.sku_id = #{skuId} and s.goods_id = g.goods_id and g.is_deleted = 0
        limit 1
    </select>

    <select id="listAdminGoods" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from goods as g
        where is_deleted = 0
        order by id desc
    </select>

    <update id="deleteGoods" >
        update goods
        set is_deleted = 1
        where goods_id = #{goodsId} and is_deleted = 0
        limit 1
    </update>
</mapper>