<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weafung.shop.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.weafung.shop.model.po.Sorder">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="gorder_id" jdbcType="VARCHAR" property="gorderId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
    <result column="goods_detail_id" jdbcType="BIGINT" property="goodsDetailId"/>
    <result column="sale_price" jdbcType="BIGINT" property="salePrice" />
    <result column="market_price" jdbcType="BIGINT" property="marketPrice" />
    <result column="money" jdbcType="BIGINT" property="money" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, is_deleted, gorder_id, order_id, goods_id, sku_id, 
    count, price, status
  </sql>
  <insert id="insert" parameterType="com.weafung.shop.model.po.Sorder">
    insert into sorder (gorder_id, order_id,goods_id, sku_id, count,title, introduce, goods_detail_id, sale_price, market_price, money)
    values (#{gorderId}, #{orderId},#{goodsId}, #{skuId}, #{count},#{title}, #{introduce}, #{goodsDetailId},#{salePrice}, #{marketPrice}, #{money})
  </insert>
</mapper>