<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weafung.shop.dao.SkuAttributeValueMapper">
  <resultMap id="BaseResultMap" type="com.weafung.shop.model.po.SkuAttributeValue">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="attribute_value_id" jdbcType="BIGINT" property="attributeValueId" />
    <result column="attribute_value" jdbcType="VARCHAR" property="attributeValue" />
    <result column="attribute_name_id" jdbcType="BIGINT" property="attributeNameId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, is_deleted, attribute_value_id, attribute_value, attribute_name_id
  </sql>
  <select id="listByAttributeNameId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from sku_attribute_value
    where is_deleted = 0 and attribute_name_id = #{attributeNameId}
  </select>
  <select id="listByAttributeValueId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from sku_attribute_value
    where is_deleted = 0 and attribute_value_id = #{attributeValueId}
  </select>
</mapper>