<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weafung.shop.dao.SkuMapper">
  <resultMap id="BaseResultMap" type="com.weafung.shop.model.po.Sku">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="attribute" jdbcType="VARCHAR" property="attribute" />
    <result column="store_count" jdbcType="BIGINT" property="storeCount" />
    <result column="sale_count" jdbcType="BIGINT" property="saleCount" />
    <result column="sale_price" jdbcType="BIGINT" property="salePrice" />
    <result column="market_price" jdbcType="BIGINT" property="marketPrice" />
    <result column="bonus_ratio" jdbcType="TINYINT" property="bonusRatio" />
    <result column="hidden" jdbcType="BIT" property="hidden" />
    <result column="onsale" jdbcType="BIT" property="onsale" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, is_deleted, sku_id, goods_id, attribute, store_count, 
    sale_count, sale_price, market_price, bonus_ratio, hidden, onsale
  </sql>
  <select id="selectBySkuId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from sku
    where is_deleted = 0 and sku_id = #{skuId}
  </select>

  <select id="countBySkuId" resultType="int">
      select count(id) from sku
      where is_deleted = 0 and sku_id = #{skuId}
    </select>

  <select id="selectMinSalePrice" resultType="java.lang.Long">
      select sale_price from sku
      where is_deleted = 0 and goods_id = #{goodsId}
      order by sale_price asc, onsale desc
      limit 1
  </select>

  <select id="listByGoodsId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from sku
    where is_deleted = 0 and goods_id = #{goodsId}
  </select>

  <update id="deleteBySkuId">
    update sku
    set is_deleted = 1
    where sku_id = #{skuId}
    limit 1
  </update>

  <update id="updateBySkuId" parameterType="com.weafung.shop.model.po.Sku">
    update sku
    <set>
      <if test="sku.attribute != null">
        attribute = #{sku.attribute},
      </if>
      <if test="sku.storeCount != null">
        store_count = #{sku.storeCount},
      </if>
      <if test="sku.saleCount != null">
        sale_count = #{sku.saleCount},
      </if>
      <if test="sku.salePrice != null">
        sale_price = #{sku.salePrice},
      </if>
      <if test="sku.marketPrice != null">
        market_price = #{sku.marketPrice},
      </if>
      <if test="sku.bonusRatio != null">
        bonus_ratio = #{sku.bonusRatio},
      </if>
      <if test="sku.hidden != null">
        hidden = #{sku.hidden},
      </if>
      <if test="sku.onsale != null">
        onsale = #{sku.onsale},
      </if>
    </set>
    where sku_id = #{sku.skuId}
    limit 1
  </update>

  <insert id="insert" parameterType="com.weafung.shop.model.po.Sku">
    insert into sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      sku_id, goods_id,
      <if test="sku.attribute != null">
        attribute,
      </if>
      <if test="sku.storeCount != null">
        store_count,
      </if>
      <if test="sku.salePrice != null">
        sale_price,
      </if>
      <if test="sku.marketPrice != null">
        market_price,
      </if>
      <if test="sku.bonusRatio != null">
        bonus_ratio,
      </if>
      <if test="sku.hidden != null">
        hidden,
      </if>
      <if test="sku.onsale != null">
        onsale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{sku.skuId}, #{sku.goodsId},
      <if test="sku.attribute != null">
        #{sku.attribute},
      </if>
      <if test="sku.storeCount != null">
        #{sku.storeCount},
      </if>
      <if test="sku.salePrice != null">
        #{sku.salePrice},
      </if>
      <if test="sku.marketPrice != null">
        #{sku.marketPrice},
      </if>
      <if test="sku.bonusRatio != null">
        #{sku.bonusRatio},
      </if>
      <if test="sku.hidden != null">
        #{sku.hidden},
      </if>
      <if test="sku.onsale != null">
        #{sku.onsale},
      </if>
    </trim>
  </insert>
</mapper>